In [6]:
import sqlite3

# create in-memory database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# create tables
cursor.execute("""
CREATE TABLE Students (
    student_id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    department TEXT,
    marks INTEGER
)
""")

cursor.execute("""
CREATE TABLE Courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT,
    duration_months INTEGER,
    fees INTEGER
)
""")

# insert data
cursor.executemany("INSERT INTO Students VALUES (?,?,?,?,?)", [
    (1,'Arjun',20,'CSE',85),
    (2,'Meena',22,'ECE',78),
    (3,'Rahul',19,'CSE',92),
    (4,'Divya',21,'MECH',67),
    (5,'Kiran',23,'CIVIL',74)
])

cursor.executemany("INSERT INTO Courses VALUES (?,?,?,?)", [
    (101,'Data Science',6,50000),
    (102,'Web Development',4,30000),
    (103,'AI Basics',5,45000),
    (104,'Cloud Computing',3,35000)
])

queries = [
    ("WHERE AND",
     "SELECT * FROM Students WHERE department='CSE' AND marks>80"),

    ("WHERE OR",
     "SELECT * FROM Students WHERE department='ECE' OR department='MECH'"),

    ("WHERE NOT",
     "SELECT * FROM Students WHERE NOT department='CSE'"),

    ("ORDER BY marks",
     "SELECT * FROM Students ORDER BY marks DESC"),

    ("ORDER BY name",
     "SELECT * FROM Students ORDER BY name ASC"),

    ("LIKE A%",
     "SELECT * FROM Students WHERE name LIKE 'A%'"),

    ("LIKE Data",
     "SELECT * FROM Courses WHERE course_name LIKE '%Data%'")
]

for title, q in queries:
    print("\n---", title, "---")
    for row in cursor.execute(q):
        print(row)

conn.close()

--- WHERE AND ---
(1, 'Arjun', 20, 'CSE', 85)
(3, 'Rahul', 19, 'CSE', 92)

--- WHERE OR ---
(2, 'Meena', 22, 'ECE', 78)
(4, 'Divya', 21, 'MECH', 67)

--- WHERE NOT ---
(2, 'Meena', 22, 'ECE', 78)
(4, 'Divya', 21, 'MECH', 67)
(5, 'Kiran', 23, 'CIVIL', 74)

--- ORDER BY marks ---
(3, 'Rahul', 19, 'CSE', 92)
(1, 'Arjun', 20, 'CSE', 85)
(2, 'Meena', 22, 'ECE', 78)
(5, 'Kiran', 23, 'CIVIL', 74)
(4, 'Divya', 21, 'MECH', 67)

--- ORDER BY name ---
(1, 'Arjun', 20, 'CSE', 85)
(4, 'Divya', 21, 'MECH', 67)
(5, 'Kiran', 23, 'CIVIL', 74)
(2, 'Meena', 22, 'ECE', 78)
(3, 'Rahul', 19, 'CSE', 92)

--- LIKE A% ---
(1, 'Arjun', 20, 'CSE', 85)

--- LIKE Data ---
(101, 'Data Science', 6, 50000)